*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

.container{
    width: 95%;
    margin: auto;
}

.content{
    width: 60%;
    margin: auto;
}

#about{
    margin-top: 60px;
}

#about h1{
    text-align: center;
    padding-bottom: 50px;
    font-size: 180%;
}

.box{
    width: 25%;
    text-align: center;
    float: left;
}

.box i{
    font-size: 200%;
}

.box p{
    font-size: 80%;
    color: gray;
}

.box h3, .box p{
    line-height: 150%;
}

.border{
    width: 30%;
    margin: auto;
    padding-top: 20px;
    border-bottom: 3px solid lightgray;
}

.box:hover{
    cursor: pointer;
}

.box:hover .border{
    border-bottom: 3px solid #c09064;
}

.box:hover h3, .box:hover i{
    color: #c09064;
}

#purchase{
    margin-top: 70px;
    height: 100px;
    background: linear-gradient(to right, #241d17 , #543321);
    font-weight: lighter;
    font-size: 80%;
}

#purchase-text{
    width: 70%;
    float: left;
    color: #ffffff;
}

#purchase-button{
    width: 30%;
    float: left;
}

#waxom{
    color: #c09064;
}

#purchase p{
    color: #a38b6c;
}

#purchase-text{
    padding-top: 27px;
    padding-bottom: 20px;
}


#opcje
{
    margin-left: auto;
    float: left;
    border-bottom: 3px solid lightgray;
    background-color: black;
    width: auto;
    margin-top: 65px;
}
#blog h1
{
    text-align: center;
    padding-bottom: 20px;
    font-size: 180%;
    margin-top: 105px;

}
#tekst
{
    text-align: center;
    font-size: 14px;
    color: grey;

}


.nogi
{
    float: left;
    padding: 20px;
    width: auto;
    text-align: 12px;
    width: 205px;
    margin-left: 15px;
    font-size: 14px;
}
.pecet
{
    float: left;
    padding: 20px;
    width: 205px;
    text-align: 12px;
    font-size: 14px;
}
.ship
{
    float: left;
    padding: 20px;
    width: 205px;
    text-align: 12px;
    font-size: 14px;

}
.pecet h4
{
    font-size: 16px;
}
.ship h4
{
    font-size: 16px;
}
.nogi h4
{
    font-size: 16px;
}

.nogi:hover
{
    cursor: pointer;
    background-color:#665555 ;

}
.ship:hover
{
    cursor: pointer;
    background-color: #665555 ;
}
.pecet:hover
{
    cursor: pointer;
    background-color:	#665555;
}

.tekstcolor
{
    color: #c09064;
}



#footerL
{
    float: left;
    background-color: black;
    margin-top: 90px;
    margin-bottom: 45px;
    height: 90px;
    width: 100%;
    


}
#footerR
{
    margin-right: 100px;

}
.option
{
    float: left;
    text-align: center;
    border-right: 2px dotted #444444;
    font-size: 14px;
}
.option2
{
    float: left;
    border-right: 2px dotted #444444;
    font-size: 14px;
    text-align: right;

}
