*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(153, 134, 117, 0.6);

}


.logo
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;

}

.buttons {
  display: flex;

}

.linkbutt
{
  text-decoration: none;
  color: white;
}

.butt
{
  color: #fff;
  height: 100%;
  padding: 0 20px;
}

#hero
  {
    background: url(./img/hero-background.png) no-repeat center/cover;
    height: 100vh;
    /*width: 100vw;*/
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

.inhero
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    text-align: center;
    color: white;
  }

.inhero h2
  {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }

.inhero h1
  {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }

.inhero p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.buttonGetStarted
  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin-top: 30px;
    padding: 0 30px;
    border-radius: 5px;
    background-color: #998675;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s;
  }

.container{
    width: 95%;
    margin: auto;
}

.content{
    width: 60%;
    margin: auto;
}

#about{
    margin-top: 60px;
}

#about h1{
    text-align: center;
    padding-bottom: 50px;
    font-size: 180%;
}

.box{
    width: 25%;
    text-align: center;
    float: left;
}

.box i{
    font-size: 200%;
}

.box p{
    font-size: 80%;
    color: gray;
}

.box h3, .box p{
    line-height: 150%;
}

.border{
    width: 30%;
    margin: auto;
    padding-top: 20px;
    border-bottom: 3px solid lightgray;
}

.box:hover{
    cursor: pointer;
}

.box:hover .border{
    border-bottom: 3px solid #bdab95;
}

.box:hover h3, .box:hover i{
    color: #bdab95;
}

#purchase{
    margin-top: 70px;
    height: 100px;
    background: linear-gradient(to right, #241d17 , #543321);
    font-weight: lighter;
    font-size: 80%;
}

#purchase-text{
    width: 70%;
    float: left;
    color: #ffffff;

}

#purchase-button{
    width: 30%;
    float: left;
}

#waxom{
    color: #bdab95;
}

#purchase p{
    color: #7d684e;
}

#purchase-text{
    padding-top: 27px;
    padding-bottom: 20px;
}

#purchase-text h1{
    font-weight: 100;
}

.button{
    font-size: 85%;
    height: 36px;
    width: 45%;
    margin: 33px 0;
    background-color: #bdab95;
    border: none;
    color: #ffffff;
    float: right;
    border-radius: 3px;
}

.button:hover{
    cursor: pointer;
    background-color: #7d684e;
}

#opcje
{
    margin-left: auto;
    float: left;
    border-bottom: 3px solid lightgray;
    background-color: black;
    width: auto;
    margin-top: 65px;
}

#blog{
    margin-bottom:50px;
}

#blog h1
{
    text-align: center;
    padding-bottom: 20px;
    font-size: 180%;
    margin-top: 105px;

}
#tekst
{
    text-align: center;
    font-size: 14px;
    color: grey;

}


.nogi
{
    float: left;
    padding: 20px;
    width: auto;
    text-align: 12px;
    width: 205px;
    margin-left: 15px;
    font-size: 14px;
}
.pecet
{
    float: left;
    padding: 20px;
    width: 205px;
    text-align: 12px;
    font-size: 14px;
}
.ship
{
    float: left;
    padding: 20px;
    width: 205px;
    text-align: 12px;
    font-size: 14px;

}
.pecet h4
{
    font-size: 16px;
}
.ship h4
{
    font-size: 16px;
}
.nogi h4
{
    font-size: 16px;
}

.nogi:hover
{
    cursor: pointer;
    background-color:#665555 ;

}
.ship:hover
{
    cursor: pointer;
    background-color: #665555 ;
}
.pecet:hover
{
    cursor: pointer;
    background-color:	#665555;
}

.tekstcolor
{
    color: #c09064;
}

#footer{
    margin-bottom:45px;
    background-color: #241d17;
    color: #7d684e;
}

#footerL
{
    float: left;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footerR
{
    float: right;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.option
{
    float: left;
    text-align: center;
    border-right: 2px dotted #444444;
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
}

.option2
{
    float: right;
    border-right: 2px dotted #444444;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
    padding-left: 5px;
}


